.container{
    width:100%;
    height: 100%;
    /* text-align: center; */
}
.staffListContainer{
    width: 40%;
    display: inline-block; 
    /* background-color: rgb(206, 209, 209); */
    /* height: 100%; */
    position: absolute;
    /* max-height: 70%; */
    overflow-y: auto;
}
.addSubArea{
    width: 22%;
    display: inline-block; 
    background-color: rgb(220, 217, 248);
    height: 100%;
    margin-top: 80px;
    margin-left: 24px;
    border-radius: 10px;
}
.addStaffContainer{
    width: 55%;
    display: inline-block; 
    /* background-color: rgb(255, 255, 255); */
    height: 100px;
    margin-left: 40%;
    background-color: rgb(225, 221, 255);
    height: auto;
    border-radius: 15px;
    padding: 14px;
    margin-top: 15px;
}
.inputField{
    padding-left: 15px;
    width: 100%;
    max-width: 450px;
}
.listContainer{
    width: 90%;
    background-color: rgb(163, 153, 255);
    border-radius: 10px;
    padding: 9px;
    margin-top: 5px;
}
.toast{
width: 150px;
background-color: rgba(60, 255, 0, 0.808);
transition: all 0.2s ease-in-out;
opacity: 1;
/* color:` */
/* height: 200px; */
margin-left: 40%;
position: absolute;
align-items: center;
text-align: center;
padding: 25px;
border-radius: 15px;
}
.details{
    padding: 5px;
}