<div class="app-div">
    <h3>
        Dashboard
    </h3>
    <div class="container" style="background-color: rgb(125, 125, 255);">
       <span style="font-size: 30px; ">Total cases</span> <br>
       <span style="font-size: 40px; font-weight: bold;"> 648</span> 
    </div>
    <div class="container" style="background-color: rgb(203, 255, 125);">
        <span style="font-size: 30px; ">Vaccinated</span> <br>
        <span style="font-size: 40px; font-weight: bold;"> 658</span> 
     </div>
     <div class="container" style="background-color: rgb(79, 255, 79);">
        <span style="font-size: 30px; ">Recovered</span> <br>
        <span style="font-size: 40px; font-weight: bold;"> 455</span> 
     </div>
     <div class="container" style="background-color: rgb(191, 122, 255);">
        <span style="font-size: 30px; ">In Treatment</span> <br>
        <span style="font-size: 40px; font-weight: bold;"> 110</span> 
     </div>
     <div class="container" style="background-color: rgb(252, 92, 92);">
        <span style="font-size: 30px; ">Areas Infected</span> <br>
        <span style="font-size: 40px; font-weight: bold;"> 33 </span> 
     </div>
     <div class="container">
        <span style="font-size: 30px; ">Centers</span> <br>
        <span style="font-size: 40px; font-weight: bold;"> 18</span> 
     </div>
     <!-- <div class="container">
      <span style="font-size: 30px; ">Total cases</span> <br>
      <span style="font-size: 40px; font-weight: bold;"> {{dashData.totalCases}}</span> 
   </div>
   <div class="container">
       <span style="font-size: 30px; ">Vaccinated</span> <br>
       <span style="font-size: 40px; font-weight: bold;"> {{dashData.vaccinated}}</span> 
    </div>
    <div class="container">
       <span style="font-size: 30px; ">Recovered</span> <br>
       <span style="font-size: 40px; font-weight: bold;">  {{dashData.recovered}}</span> 
    </div>
    <div class="container">
       <span style="font-size: 30px; ">In Treatment</span> <br>
       <span style="font-size: 40px; font-weight: bold;">  {{dashData.inTreatment}}</span> 
    </div>
    <div class="container">
       <span style="font-size: 30px; ">Areas Infected</span> <br>
       <span style="font-size: 40px; font-weight: bold;">  {{dashData.areasAffected}} </span> 
    </div>
    <div class="container">
       <span style="font-size: 30px; ">Centers</span> <br>
       <span style="font-size: 40px; font-weight: bold;">  {{dashData.centers}}</span> 
    </div> -->
</div>
<a mat-list-item routerLink="/3">
    <button mat-raised-button color="primary" style="float:right; margin-right:15px;">Staff Page ></button>

</a>
<a mat-list-item routerLink="/4">

    <button mat-raised-button color="primary" style="float:right; margin-right:15px;">Area and Sub Areas ></button>
</a>
<a mat-list-item routerLink="/5">

   <button mat-raised-button color="primary" style="float:right; margin-right:15px;">Infection Datas ></button>
</a>
<!-- <button mat-raised-button color="primary" style="float:right; margin-right:15px;" (click)="login()">Login</button> -->